/***** GENERAL *****/
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

@font-face {
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
	     url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
	     url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header, footer {
	background-color: #972622;
	width: 100%;
	color: #fff;
}

header {
	height: 120px;	
}

main {
	min-height: 500px;
}

/* Flex */
.headerDiv, .resultsDiv, .content, footer ul {
	display: flex;
	max-width: 1000px;
	min-width: 600px;
	width: 80%;
	height: 100%;
	margin: auto;
	
}

.headerDiv, .content {
	flex-direction: column;
	justify-content: space-between;
}

.resultsDiv {
	justify-content: space-around;
}

.content .block, header div {
	display: flex;
	justify-content: space-between;
}

.content article {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}


/* Text decoration */

h1, h2 a, h3 a, h3, header li a, header p {
	font-family: CenturyGothicRegular, sans-serif;
}

header li a {
	font-size: 1.14rem;
}

h1 {
	font-size: 1rem;
	font-weight: normal;
	margin-top: 5px;
}

h1 span {
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-size: 2.5rem;
	text-shadow: #5b0b0b 2px 0 0px, #5b0b0b 0 2px 0px, #5b0b0b -2px 0 0px, #5b0b0b 0 -2px 0px;
}

h2 a, h3 a {
	color: #972622;
	transition: 0.2s;	
	text-decoration: none;
}
h2 {
	font-size: 1.71rem;
	margin: 40px 0 15px;
}
h3 {
	font-size: 1.4rem;
	margin-bottom: 7px;
	color: #972622;
}

header a, footer a {
	text-decoration: none;
	color: #fff;
	transition: 0.4s;
}

h2.link a:hover, h3.link a:hover {
	color: #e59487;
}
li.link a:hover {
	color: #f4b6af;
}

/** Header **/

header h1, header p {
	display: inline-block;
}
header p {
	padding: 5px 15px;
	transition: 0.2s;
	/*margin-top: 5px;*/
	height: 25px;
	background-color: #B9413B;
	color: #fff;
	font-size: 0.9rem;
}
header p:hover {
	background-color: #e59487;
}

/** Navigation **/
nav li, footer li {
	display: inline-block;
	color: #fff;
}
nav li {
	margin: 0 30px 15px 0;
}
footer li {
	margin: 15px 30px 20px 0;
}

nav input, .fa-bars {
	display: none;
	visibility: hidden;
}


/** Main image **/
.mainImage {
	height: 445px;
	width: 100%;
	background-image: url(../img/main_img.jpg);
	background-position: center;
}

/** Results **/
.results {
	width: 100%;
	background-color: #f3f3f3;
}

.result {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px 4% 40px;
	width: 33%;
}

.icon {
	fill: #747f93;
	height: 125px;
}

.result:nth-child(2) .icon {
	height: 135px;
	margin-bottom: -10px;
}

.result p {
	text-align: center;
	width: 100%;
}


/** Content **/

.content {
	margin-bottom: 40px;
}

.content .block {
	margin-bottom: 30px;
}

.content .image {
	flex-basis: 40%;
	background-image: url(../img/img.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
}

.content article {
	flex-basis: 60%;
	margin-left: 20px;
	height: 200px;
}

.content div:nth-child(2) article{
	flex-basis: 40%;
	height: 350px;
}
.content div:nth-child(2) .image {
	flex-basis: 60%;
	height: 350px;
}
.content div:nth-child(2) p.text {
	-webkit-line-clamp: 13;
}

.content p.text {
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content p.date {
	text-align: right;
	margin-top: 11px;
}
