/***** GENERAL *****/
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

@font-face {
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
	     url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
	     url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header, footer {
	background-color: #972622;
	width: 100%;
	color: #fff;
}

header {
	height: 120px;	
}

main {
	min-height: 500px;
}

/* Flex */
.headerDiv, .resultsDiv, .content, footer ul {
	display: flex;
	max-width: 1000px;
	min-width: 740px;
	width: 80%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	
}

.headerDiv, .content {
	flex-direction: column;
	justify-content: space-between;
}

.resultsDiv {
	justify-content: space-around;
}

.content .block, header div {
	display: flex;
	justify-content: space-between;
}

.content article {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}


/* General decoration */

h1, h2, h3, h2 a, h3 a, header li a, header p, footer li {
	font-family: CenturyGothicRegular, Arial, sans-serif;
}

h2 a, h3 a {
	color: #972622;
	transition: 0.2s;	
	text-decoration: none;
}
h2 {
	font-size: 1.71rem;
	margin: 40px 0 15px;
	color: #972622;
}
h3 {
	font-size: 1.4rem;
	margin-bottom: 7px;
	color: #972622;
}

h2 a:hover, h3 a:hover {
	color: #e59487;
}

header a, footer a {
	text-decoration: none;
	color: #fff;
	transition: 0.4s;
}
header a:hover, footer a:hover {
	color: #f4b6af;
}

footer {
	margin-top: 20px;
}


/** Header **/

header h1, header p {
	display: inline-block;
}

header li a {
	font-size: 1.14rem;
}

h1 {
	font-size: 0.9rem;
	font-weight: normal;
	margin-top: 5px;
}
h1 span {
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-size: 2.5rem;
	text-shadow: #5b0b0b 2px 0 0px, #5b0b0b 0 2px 0px, #5b0b0b -2px 0 0px, #5b0b0b 0 -2px 0px;
}

header p {
	padding: 5px 15px;
	transition: 0.2s;
	/*margin-top: 5px;*/
	height: 25px;
	background-color: #B9413B;
	color: #fff;
	font-size: 0.9rem;
	cursor: pointer;
}
header p:hover {
	background-color: #e59487;
}

.current {
	cursor: default;
	color: #f4b6af;
}

/** Navigation **/
nav li, footer li {
	display: inline-block;
	color: #fff;
}
nav li {
	margin: 0 30px 15px 0;
}
footer li {
	margin: 20px 30px 20px 0;
}

nav .fa-bars {
	display: none;
}

/** Results **/
.results {
	width: 100%;
	background-color: #f3f3f3;
}

.result {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 4% 30px;
	width: 33%;
}

.icon {
	fill: #747f93;
	height: 125px;
}

.result:nth-child(2) .icon {
	height: 135px;
	margin-bottom: -10px;
}

.result p {
	text-align: center;
	width: 100%;
}


/** Content **/

.content .block {
	margin-bottom: 40px;
}

.content .block article {
	flex-basis: 60%;
	margin-left: 20px;
	height: 200px;
}

.content div:nth-child(2) article{
	flex-basis: 40%;
	height: 350px;
}
.content div:nth-child(2) p.shortText {
	-webkit-line-clamp: 13;
}

.content p.shortText {
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content p.date {
	text-align: right;
	margin-top: 11px;
}

.fullContent article {
	margin-top: 20px;
	margin-bottom: 40px;
}

/** Images **/
/*Main image*/
#mainImg {
	height: 445px;
	width: 100%;
	background-image: url(../img/main_img.jpg);
	background-position: center;
}
/*Description Image*/
#descriptionImg {
	background-image: url(../img/description_img.jpg);
	width: 100%;
	height: 430px;
	background-size: cover;
}

/*images on main page*/
.content .imageDiv { 
	flex-basis: 40%;
	background-image: url(../img/img.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
}
.content div:nth-child(2) .imageDiv {
	flex-basis: 60%;
	height: 350px;
}
/*images in news*/
.imageOpen {
	background-image: url(../img/main_img.jpg);
	background-position: center;
	cursor: pointer;
}
/*full image*/
.containerDiv img {
	margin: 20px;
	max-height: 100%;
	max-width: 100%;
}



/*** Loging forn ***/

.background {
	width: 100%;
	height: 100%;	
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	position: fixed;

}

.containerDiv {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;	
	top: 0;
	left: 0;
}

.form {
	padding: 20px 30px;
	background-color: #fff;
}

.form .fa {
	font-size: 2rem;
	margin-right: 10px;
	cursor: pointer;
}
.fa-vk {
	color: #0a457f;
}
.fa-twitter {
	color: #3c7caa;
}
.fa-google-plus {
	color: #bb2a1b;
}

.form p {
	margin-top: 10px;
}
.form p input {
	padding: 5px;
}

.form input[type='submit'] {
	background-color: #972622;
	color: #fff;
	padding: 5px 13px;
	border: none;
	transition: 0.2s;
	margin-right: 10px;
	font-size: 0.9rem;
}
.form input[type='submit']:hover {
	background-color: #e59487;
}

.registration {
	cursor: pointer;
	color: #972622;
	transition: 0.2s;
	font-size: 0.9rem;
}
.registration:hover {
	color: #e59487;
}

